---
layout: page
---

{{ content }}

<section id="filterResultsSection" class="usa-graphic_list">
  {% for topic in site.topics %}
    <div class="usa-media_block-body topic" data-tags="{{ topic.tags | join: " " }}">
      <h3>
        <a href="{{ site.baseurl }}{{ topic.url }}">
          {{ topic.title }}
        </a>
      </h3>
      <p>{{ topic.description | join: ", " }}</p>
    </div>
  {% endfor %}
  <div class="usa-media_block-body emptySet">
    <h3>
      Your chosen topics will appear here.
    </h3>
  </div>
</section>
<br>
<hr>
<section id="relatedTopicsSection" class="usa-graphic_list">
  <h2>All Topics Related to U.S. Passports</h2>
  {% for topic in site.topics %}
    {% if topic.related-topic == "passport" %}
      <div class="usa-media_block-body topic" data-tags="{{ topic.tags | join: " " }}">
        <h3>
          <a href="{{ site.baseurl }}{{ topic.url }}">
            {{ topic.title }}
          </a>
        </h3>
        <p>{{ topic.description | join: ", " }}</p>
      </div>
    {% endif %}
  {% endfor %}
</section>
